# --- OS Files ---
.DS_Store
Thumbs.db


# --- Backend (Python/Flask) ---
backend/__pycache__/
backend/*.py[cod]
backend/venv/
backend/.venv/
backend/env/

# --- แนะนำให้ ignore ไฟล์ .env ---
.env
backend/.env



# --- User Uploads (รูปภาพที่ใช้ทดสอบ) ---
backend/uploads/
backend/static/uploads/

# --- IDE ---
.vscode/