# --- OS Files ---
.DS_Store
Thumbs.db

# --- Environment Variables ---
.env
backend/.env

# --- Backend (Python/Flask) ---
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --- Virtual Environments ---
backend/venv/
backend/.venv/
backend/env/

# --- Database ---
*.sql

# --- Frontend / Node ---
node_modules/

# --- IDE & Machine Learning Models ---
.vscode/
*.pth

# --- User Uploads & Static Assets ---
backend/uploads/
# backend/static/uploads/
backend/static/fonts/*.ttf
backend/static/uploads/profiles/*
# --- Test, Reports & Hurl ---
backend/hurl/
backend/report/
backend/test/